<section id="skills">
  <div class="container">
    <div class="row">
      <h2 class="title">Skills</h2>
      <div class="info">
        <div class="skill" *ngFor="let skill of skills">
          <div class="col-xs-12 col-sm-6 name">
            <p>{{ skill.name }}</p>
          </div>

          <div class="col-xs-12 col-sm-6 level">
            <span [ngClass]="skill.level >= 1 ? 'filled-circle': 'circle'"></span>
            <span [ngClass]="skill.level >= 2 ? 'filled-circle': 'circle'"></span>
            <span [ngClass]="skill.level >= 3 ? 'filled-circle': 'circle'"></span>
            <span [ngClass]="skill.level >= 4 ? 'filled-circle': 'circle'"></span>
            <span [ngClass]="skill.level >= 5 ? 'filled-circle': 'circle'"></span>
            <span [ngClass]="skill.level >= 6 ? 'filled-circle': 'circle'"></span>
            <span [ngClass]="skill.level >= 7 ? 'filled-circle': 'circle'"></span>
            <span [ngClass]="skill.level >= 8 ? 'filled-circle': 'circle'"></span>
            <span [ngClass]="skill.level >= 9 ? 'filled-circle': 'circle'"></span>
            <span [ngClass]="skill.level >= 10 ? 'filled-circle': 'circle'"></span>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>

